
  <h4>検索結果</h4>
    <table class="table table-borderd">
      <thead>
        <tr>
          <th>投稿数</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <% if search_book==0 %>
              投稿した本はありません
            <% else %>
              <%= search_book %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
